.app {
  padding: 40px;
}

.section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid gray;
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
